<div class="w-100 text-center">
    <div style="height: 100px;"></div>
    <p class="fw-bold" style="color: orange; font-size: 64px;"><span class="fs-1 fw-bold mx-2">PAGE</span>404</p>
    <div style="height: 10px;"></div>
    <i class="fa-solid fa-triangle-exclamation text-secondary" style="font-size: 80px;"></i>
    <div style="height: 30px;"></div>
    <p class="mx-auto text-center text-white" style="width: 300px">Oops! The page that you're looking for may be corrupted, non-existing, or not permitted to view.</p>
    <div style="height: 10px;"></div>
    <a class="text-center text-decoration-none" routerLink="/">Back to HOME</a>
</div>
