<main class="">
  <nav
    class="main-nav fixed-top d-flex flex-row align-items-center justify-content-between bg-dark border-bottom border-secondary px-4 px-xxl-5">
    <a class="d-flex flex-row align-items-center text-decoration-none" routerLink="/">
      <img
      class="rounded-full"
      src="/assets/new-logo.jpg"
      style="width: 80px; height: 80px;"
      />
      <div>
        <p class="fs-3 fw-bold my-0 mx-2" style="color: orange;">SCEENRY<span style="font-size: 12px">PH</span></p>
        <p class="fs-6 text-secondary m-0 d-none">Philippines</p>
      </div>
    </a>
    <div>
      <a class="py-2 px-4 mx-4 fs-5 fw-bold button-main rounded text-decoration-none" routerLink="/booking">BOOK NOW!</a>
      <a class="button-sub px-2 mx-2 fs-5 text-decoration-none" routerLink="/" style="color: orange;">Home</a>
      <a class="button-sub px-2 mx-2 fs-5 text-decoration-none" routerLink="/about" style="color: orange;">About</a>
      <a class="button-sub px-2 mx-2 fs-5 text-decoration-none" routerLink="/contact" style="color: orange;">Contact Us</a>
    </div>
  </nav>
  <div class="main-body bg-dark">
    <router-outlet />
  </div>
</main>