<div class="row align-items-start justify-content-center w-100">
    <div class="col-12 col-lg-8 col-xxl-9">
        <div class="fade-from-left w-100 bg-white p-5" style="height: 400px; background-image: url(/assets/scene-2.jpg);
        background-position: center;
        background-size: cover;">
            <div class="d-flex flex-row align-items-center justify-content-center bg-secondary rounded"
                style="width: 150px; height: 150px; --bs-bg-opacity: .6;">
                <p class="fw-bold text-white" style="font-size: 100px;">{{ currentDate }}</p>
            </div>
            <p><span class="fs-3 fw-semibold text-white">{{ newMonth }}</span><span
                    class="fs-6 fw-semibold text-white mx-2">{{
                    currentYear }}</span></p>
        </div>
        <div class="p-4 row align-items-center justify-content-center">
            <div class="col-12 col-lg-4 p-4">
                <div class="bg-white rounded p-4">
                    <p>Spend the rest of your holiday</p>
                    <p class="fs-6">Lorem ipsum dolor sit amet, consectetur adipiscing elit ...</p>
                    <a class="d-inline-block py-1 px-2 button-main rounded text-decoration-none"
                        routerLink="/booking">Find a room</a>
                </div>
            </div>
            <div class="col-12 col-lg-4 p-4">
                <div class="bg-white rounded p-4">
                    <p>Discover our best deals</p>
                    <p class="fs-6">Lorem ipsum dolor sit amet, consectetur adipiscing elit ...</p>
                    <a class="d-inline-block py-1 px-2 button-main rounded text-decoration-none"
                        routerLink="/booking">View list</a>
                </div>
            </div>
            <div class="col-12 col-lg-4 p-4">
                <div class="bg-white rounded p-4">
                    <p>Reserve places for your moments</p>
                    <p class="fs-6">Lorem ipsum dolor sit amet, consectetur adipiscing elit ...</p>
                    <a class="d-inline-block py-1 px-2 button-main rounded text-decoration-none"
                        routerLink="/booking">Learn More</a>
                </div>
            </div>

            <div style="height:20px;"></div>
            <p class="fs-3 text-white p-4">See via Google Maps</p>
            <div class="d-flex flex-row p-4">
                <div style="width: 350px;">
                    <iframe id="gmap_canvas"
                        src="https://maps.google.com/maps?q=notre%20dame%20cubao&t=&z=13&ie=UTF8&iwloc=&output=embed"
                        frameborder="0" scrolling="no" marginheight="0" marginwidth="0"
                        style="height: 350px; width: 350px;"></iframe>
                    <a class="py-4" href="/gmap">Enlarge map</a>
                </div>

                <div class="w-100 p-5" style="height: 100px;">
                    <p class="my-2 text-white">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis faucibus,
                        nunc ac
                        convallis tristique, turpis arcu hendrerit nulla, nec rutrum orci massa ac lectus. Maecenas
                        ornare convallis lectus a varius. Proin congue mi sit amet nisl volutpat, dictum faucibus diam
                        suscipit. </p>
                    <p class="my-2 text-white">Fusce vitae laoreet neque. Nam et arcu fringilla, pellentesque lorem vel,
                        malesuada
                        nisi. Phasellus cursus sem tristique ultricies faucibus.</p>
                    <p class="my-2 text-white">Pellentesque habitant morbi tristique senectus et netus et malesuada
                        fames ac turpis
                        egestas. Quisque urna arcu, tincidunt non venenatis id, eleifend ut lorem. Vestibulum in enim a
                        purus tristique fringilla nec at urna.</p>
                </div>

            </div>

        </div>
    </div>
    <div class="col-12 col-lg-4 col-xxl-3 text-center">
        <div class="fade-from-left w-100 bg-white my-4" style="height: 300px">

        </div>
        <div class="fade-from-left w-100 bg-white my-4" style="height: 300px">

        </div>
        <div class="fade-from-left w-100 bg-white my-4" style="height: 300px">

        </div>
    </div>
</div>